[Unit]
Description=Android ShareUI
Requires=aliendalvik.service
After=aliendalvik.service

[Service]
Type=dbus
ExecStart=/usr/bin/androidshareui
BusName=org.coderus.androidshareui
Restart=always

[Install]
WantedBy=multi-user.target
